.section {
  img {
    width: 100%;
    max-height: 400px;
  }
  .title {
    max-width: 700px;
    margin: 0 auto;

    h1 {
      padding-top: 4rem;
      font-size: 3rem;
    }

    div {
      font-weight: 200;
      padding-top: 0.7rem;
      time {
        margin-right: 1rem;
        font-size: 0.9rem;
      }
    }
  }

  .content {
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
    padding: 2rem 0 2rem 0;
    p {
      padding-top: 2rem;
    }
  }
}
